

#scrollContainer{
    height: 1500px;
    overflow-y: auto;
  
  }
  #cell_1{
    height: 400px;
    width: 700px;
    position: relative;
    float: left;
    background-color: rgb(163, 163, 163);
    margin: 1px;
  }
  #cell_2{
    height: 800px;
    width: 700px;
    position: relative;
    float: left;
  }
body {
  background-color: rgb(25, 25, 26);
}
  

